<div class="max-w-4xl mx-auto px-4 py-8">
    {{ form_start(formAddCourse, {'method': 'POST', 'action': path('new_course')}) }}
        
        <!-- Champ "Name" -->
        <div class="mb-6">
            {{ form_row(formAddCourse.name, {
                'attr': {'class': 'block w-full px-4 py-3 mt-2 text-gray-700 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500'}
            }) }}
        </div>

        <!-- Champ "Description" -->
        <div class="mb-6">
            {{ form_row(formAddCourse.description, {
                'attr': {'class': 'block w-full px-4 py-3 mt-2 text-gray-700 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500'}
            }) }}
        </div>

        <!-- Bouton d'envoi -->
        <div class="mt-4 text-center">
            <button type="submit" class="bg-indigo-600 text-white px-6 py-3 rounded-md shadow-md hover:bg-indigo-700 transition duration-300">
                Enregistrer
            </button>
        </div>
        
    {{ form_end(formAddCourse) }}
</div>
