{% extends 'base.html.twig' %}

{% block title %}Courses List{% endblock %}
{% block meta_description %}
    <meta name="description" content="Courses Page - List of all available courses.">
{% endblock %}

{% block body %}
    <div class="container max-w-7xl mx-auto py-8">
        {% include 'components/ui/page_title.html.twig' with { 'title': 'page_title.courses', 'count': courses | length } %}

        <div class="bg-indigo-100 p-6 mb-8 rounded-lg">
            <p class="text-gray-700">
                Unlock new opportunities and advance your career with our comprehensive range of courses. From foundational knowledge to advanced techniques, our courses are carefully designed to equip you with the skills and confidence needed to succeed in your field. Whether you're just starting out or aiming to upskill, each course is crafted with a focus on real-world applications, ensuring you're ready to tackle industry challenges head-on. Our team of expert instructors is committed to providing a dynamic learning experience, blending theory with practical knowledge to help you master key concepts. With flexible learning paths and a supportive community, the journey to personal and professional growth has never been easier. Begin your learning adventure today and pave the way for future success.
            </p>
        </div>

        <div class="mb-6">
            {% include 'components/ui/create_button.html.twig' with { 'route': 'new_course', 'label': 'Create New Course' } %}
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for course in courses %}
                {% include 'components/course/course_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
