{% extends 'base.html.twig' %}

{% block title %}Courses List{% endblock %}

{% block body %}

    <h1>Courses</h1>
    <a href="{{ path('new_course') }}">
        <button class="btn btn-primary">Create new course</button>
    </a>

{% endblock %}