{% extends 'base.html.twig' %}

{% block title %}Course Page{% endblock %}

{% block body %}
    <div class="container mx-auto px-6 py-8">
        <!-- Course Title -->
        <div class="mb-6">
            <h1 class="text-4xl font-semibold text-gray-800">{{ course.name }}</h1>
        </div>

        <!-- Course Description -->
        <div class="mt-4">
            <p class="text-lg text-gray-600">{{ course.description }}</p>
        </div>
    </div>
{% endblock %}
