{% extends 'base.html.twig' %}

{% block title %}Welcome to the Home Page !{% endblock %}
{% block meta_description %}
    <meta name="description" content="Welcome to the home page of your application.">
{% endblock %}

{% block body %}
    <div class="py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-7xl mx-auto text-center">
            <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl">
                Welcome to Your Application !
            </h1>
            <p class="mt-4 text-lg text-gray-600">
                Your application is up and running. Check out the following details to get started.
            </p>
        </div>

        <div class="flex justify-center flex-wrap gap-3 mt-8">
            <div class="flex justify-center items-center border border-slate-300 w-full sm:w-[150px] h-[150px] rounded-lg">
                1
            </div>
            <div class="flex justify-center items-center border border-slate-300 w-full sm:w-[150px] h-[150px] rounded-lg">
                2
            </div>
            <div class="flex justify-center items-center border border-slate-300 w-full sm:w-[150px] h-[150px] rounded-lg">
                3
            </div>
            <div class="flex justify-center items-center border border-slate-300 w-full sm:w-[150px] h-[150px] rounded-lg">
                4
            </div>
        </div>
    </div>
{% endblock %}
