<a href="{{ path(route) }}" 
    class="text-md font-semibold relative hover:text-indigo-200 
        {{ app.request.attributes.get('_route') == route ? 'text-indigo-200' : '' }} 
        hover:text-indigo-200 after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-0.5 after:bg-indigo-200 
        hover:after:w-full hover:after:transition-all hover:after:duration-300">
    {{ label }}
</a>