<h1 class="text-5xl font-bold text-gray-800 mb-8 flex items-center">
    {{ title | trans }}
    {% if count is defined and count is not null %}
        <span class="ml-2 inline-block py-1 px-3 text-white bg-indigo-600 rounded-full text-lg">
            {{ count }}
        </span>
    {% endif %}
</h1>