<span class="absolute top-[6rem] right-[1rem] text-xs px-4 py-2 bg-slate-500 rounded-lg">
    {% set roles = app.user.roles | filter(role => role != 'ROLE_USER') %}
    {{ roles ? roles | join(', ') : 'No special roles' }}
</span>
