{% macro level_badge(level) %}
    {% set level_traits = 0 %}

    {% if level == 'beginner' %}
        {% set level_traits = 1 %}
    {% elseif level == 'intermediate' %}
        {% set level_traits = 2 %}
    {% elseif level == 'expert' %}
        {% set level_traits = 3 %}
    {% endif %}

    <div class="border border-slate-400 text-sm px-4 py-1 rounded-lg items-center gap-2 bg-slate-200 inline-flex">
        {% for i in 1..3 %}
        <div class="w-2 h-4 bg-gray-400 rounded-sm {{ i <= level_traits ? 'bg-green-500' : 'bg-gray-300' }}"></div>
        {% endfor %}
        <span class="text-slate-500">{{ level }}</span>
    </div>
{% endmacro %}
