<div class="bg-white p-6 rounded-xl transition-all duration-300 ease-in-out flex flex-col justify-between">
    <div>
        {% include 'components/header_card.html.twig' with { 
            'title': course.name, 
            'route': 'show_course', 
            'id': course.id, 
            'icon': '<i class="fas fa-book"></i>' 
        } %}
        <p class="text-gray-600 mb-4">{{ course.description | slice(0, 150) }}...</p>
    </div>
    {# <div class="mt-4">
        <a href="{{ path('show_course', {'id': course.id}) }}" class="text-indigo-500 hover:text-indigo-600">Read more</a>
    </div> #}
</div>