<div class="bg-white hover:bg-blue-100 p-6 rounded-xl transition-all duration-300 ease-in-out flex flex-col justify-between">
    <div>
        {% include 'components/header_card.html.twig' with { 
            'title': course.name, 
            'route': 'show_course', 
            'slug': course.slug, 
            'icon': '<i class="fas fa-book"></i>' 
        } %}
        <p class="text-gray-600 mb-4">{{ course.description | slice(0, 150) }}...</p>
    </div>
</div>