<h2 class="text-3xl font-semibold text-gray-900 mb-3 flex items-center">
    {% if icon %}
        <span class="mr-4 text-slate-400 text-[1.5rem]">{{ icon|raw }}</span>
    {% endif %}
    
    <a href="{{ path(route, {'id': id}) }}" class="text-indigo-600 hover:underline">{{ title }}</a>
</h2>