<div class="relative bg-white p-6 rounded-xl transition-all duration-300 ease-in-out flex flex-col justify-between">
    <div>
        {% include 'components/header_card.html.twig' with { 
            'title': training.title, 
            'route': 'show_training', 
            'id': training.id, 
            'icon': '<i class="fas fa-graduation-cap"></i>' 
        } %}
        <p class="text-gray-600 mb-4">{{ training.description | slice(0, 150) }}...</p>
    </div>
    <div>
        <p class="text-lg font-medium text-indigo-600">{{ training.price }} €</p>
        
        <!-- Date Display -->
        <div class="flex flex-col sm:flex-row gap-2 mt-3">
            <span class="inline-flex items-center text-sm">
                <i class="fa-regular fa-calendar"></i>
                <span class="ml-2">
                    From {{ training.startDate|date('F j, Y') }}
                    to {{ training.endDate|date('F j, Y') }}
                </span>
            </span>
        </div>
    </div>
</div>
