{% extends 'base.html.twig' %}

{% block title %}Trainings List{% endblock %}

{% block body %}

    <h1>Trainings</h1>
    <a href="{{ path('new_training') }}">
        <button class="btn btn-primary">Create new training</button>
    </a>

{% endblock %}
