{% extends 'base.html.twig' %}

{% block title %}Trainings List{% endblock %}
{% block meta_description %}
    <meta name="description" content="Trainings Page - List of all available trainings.">
{% endblock %}

{% block body %}
    <div class="container max-w-7xl mx-auto py-8">
        {% include 'components/ui/page_title.html.twig' with { 'title': 'Trainings', 'count': trainings | length } %}

        <div class="mb-6">
            {% include 'components/ui/create_button.html.twig' with { 'route': 'new_training', 'label': 'Create New Training' } %}
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for training in trainings %}
                {% include 'components/training/training_card.html.twig' %}
            {% endfor %}
        </div>    
        {{ knp_pagination_render(trainings) }}
    </div>
{% endblock %}
