{% extends 'base.html.twig' %}

{% block title %}Students{% endblock %}
{% block meta_description %}
    <meta name="description" content="Students Page - List of all students.">
{% endblock %}

{% block body %}
    <div class="container max-w-7xl mx-auto py-8">
        {% include 'components/ui/page_title.html.twig' with { 'title': 'Students', 'count': students | length } %}

        {% if students is empty %}
            <p class="text-lg text-gray-600">No students found.</p>
        {% else %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for student in students %}
                    {% include 'components/user/user_card.html.twig' with { 'user': student, 'link_route': 'app_student_show' } %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
