{% extends 'base.html.twig' %}

{% block title %}Teachers{% endblock %}

{% block body %}
    <div class="container max-w-7xl mx-auto py-8">
        {% include 'components/ui/page_title.html.twig' with { 'title': 'Teachers', 'count': teachers | length } %}

        {% if teachers is empty %}
            <p class="text-lg text-gray-600">No teachers found.</p>
        {% else %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for teacher in teachers %}
                    {% include 'components/user/user_card.html.twig' with { 'user': teacher, 'link_route': 'app_home' } %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}