{% extends 'base.html.twig' %}

{% block title %}Teachers{% endblock %}

{% block body %}
    <div class="container max-w-7xl mx-auto py-8">
        <h1 class="text-5xl font-bold text-gray-800 mb-8 flex items-center">
            Teachers 
            <span class="ml-2 inline-block py-1 px-3 text-white bg-indigo-600 rounded-full text-lg">
                {{ teachers | length }}
            </span>
        </h1>

        {% if teachers is empty %}
            <p class="text-lg text-gray-600">No teachers found.</p>
        {% else %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for teacher in teachers %}
                    <div class="bg-white shadow-lg rounded-lg p-6">
                        <p class="text-gray-600">{{ teacher.email }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}